{% extends 'init.html.twig' %}

{# set page title #}
{% block title %}
  {{ title }}
{% endblock %}

{% block body %}

<!-- page specific stylesheets -->
<link href="{{ asset('css/profile/profile.css') }}" rel="stylesheet" />

<div class="row">
  <div class="col-sm-12">

    {# profile data table #}
    <table id="profile_table" class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          {% for key, attribute in profile %}
            <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for key, attribute in profile  %}
            <td>{{ attribute }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-sm-12">
    <button type="button" class="btn btn-sm btn-primary" value="Update" data-toggle="modal" data-target="#profile_update_modal">Update</button>
    <button type="button" class="btn btn-sm btn-primary" value="Update" data-toggle="modal" data-target="#book_room_modal">Book Room</button>
  </div>

  <!-- Profile update modal -->
  <div class="modal fade" id="profile_update_modal" tabindex="-1" role="dialog" aria-labelledby="profile_update_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ path('profileID', {'user_id': profile.id}) }}">

            <!-- title -->
            <div class="form-group row">
              <label for="form[personTitle]" class="col-sm-3 col-form-label col-form-label-sm">Title</label>
              <div class="col-sm-9">
                <select name="form[personTitle]" class="form-control form-control-sm">

                  {# auto select a title if one matches an existing record #}
                  {% for title in titles %}
                    {% set selected = title == profile['title'] ? 'selected' : '' %}
                    <option value="{{ title }}" {{ selected }}>{{ title }}</option>
                  {% endfor %}

                </select>
              </div>
            </div>

            <!-- first name -->
            <div class="form-group row">
              <label for="form[personFname]" class="col-sm-3 col-form-label col-form-label-sm">First name</label>
              <div class="col-sm-9">
                <input type="text" name="form[personFname]" class="form-control form-control-sm" value="{{ profile['fname'] }}" />
              </div>
            </div>

            <!-- last name -->
            <div class="form-group row">
              <label for="form[personLname]" class="col-sm-3 col-form-label col-form-label-sm">Last name</label>
              <div class="col-sm-9">
                <input type="text" name="form[personLname]" class="form-control form-control-sm" value="{{ profile['lname'] }}" />
              </div>
            </div>

            <!-- email -->
            <div class="form-group row">
              <label for="form[personEmail]" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
              <div class="col-sm-9">
                <input type="email" name="form[personEmail]" class="form-control form-control-sm" value="{{ profile['email'] }}" />
              </div>
            </div>

            <!-- telephone -->
            <div class="form-group row">
              <label for="form[personTel]" class="col-sm-3 col-form-label col-form-label-sm">Telephone</label>
              <div class="col-sm-9">
                <input type="text" name="form[personTel]" class="form-control form-control-sm" value="{{ profile['tel'] }}" />
              </div>
            </div>

            <!-- DOB -->
            <div class="form-group row">
              <label for="form[personDOB]" class="col-sm-3 col-form-label col-form-label-sm">Date of birth</label>
              <div class="col-sm-9">
                <input type="date" name="form[personDOB]" class="form-control form-control-sm" value="{{ profile['dob'] }}" />
              </div>
            </div>

            <!-- address -->
            <div class="form-group row">
              <label for="form[personAdr]" class="col-sm-3 col-form-label col-form-label-sm">Address</label>
              <div class="col-sm-9">
                <input type="text" name="form[personAdr]" class="form-control form-control-sm" value="{{ profile['address'] }}" />
              </div>
            </div>

            <!-- postcode -->
            <div class="form-group row">
              <label for="form[personPostcode]" class="col-sm-3 col-form-label col-form-label-sm">Postcode</label>
              <div class="col-sm-9">
                <input type="text" name="form[personPostcode]" class="form-control form-control-sm" value="{{ profile['postcode'] }}" />
              </div>
            </div>

            <!-- country -->
            <div class="form-group row">
              <label for="form[personCountry]" class="col-sm-3 col-form-label col-form-label-sm">Country</label>
              <div class="col-sm-9">
                <input type="text" name="form[personCountry]" class="form-control form-control-sm" value="{{ profile['country'] }}" />
              </div>
            </div>

            <!-- submit button -->
            <div class="form-group row">
              <div class="col-sm-12">
                <input id="userUpdateBtn" type="submit" class="btn btn-sm btn-primary" value="Save" />
              </div>
            </div>

            <!-- hidden vars -->
            <input type="hidden" name="form[personID]" value="{{ profile.id }}" />

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Book room modal -->
  <div class="modal fade" id="book_room_modal" tabindex="-1" role="dialog" aria-labelledby="book_room_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{{ path('book_room') }}">

            <!-- room -->
            <div class="form-group row">
              <label for="form[room]" class="col-sm-3 col-form-label col-form-label-sm">Room</label>
              <div class="col-sm-9">
                <select name="form[room]" class="form-control form-control-sm">

                  {# populate available rooms #}
                  {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.roomNo }}</option>
                  {% endfor %}

                </select>
              </div>
            </div>

            <!-- Date in -->
            <div class="form-group row">
              <label for="form[dateIn]" class="col-sm-3 col-form-label col-form-label-sm">Date in</label>
              <div class="col-sm-9">
                <input type="date" name="form[dateIn]" class="form-control form-control-sm" value="{{ "now"|date("Y-m-d") }}" />
              </div>
            </div>

            <!-- Date out -->
            <div class="form-group row">
              <label for="form[dateOut]" class="col-sm-3 col-form-label col-form-label-sm">Date out</label>
              <div class="col-sm-9">
                <input type="date" name="form[dateOut]" class="form-control form-control-sm" value="{{ "now"|date("Y-m-d") }}" />
              </div>
            </div>

            <!-- submit button -->
            <div class="form-group row">
              <div class="col-sm-12">
                <input id="book_room_btn" type="submit" class="btn btn-sm btn-primary" value="Book" />
              </div>
            </div>

            <!-- hidden vars -->
            <input type="hidden" name="form[personID]" value="{{ profile.id }}" />

          </form>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
